@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #062a75;
    --second-color: #f1f1f1;
    --title: "Righteous", sans-serif;
    --others: "Plus Jakarta Sans", sans-serif;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    background-color: var(--second-color);

}

nav {
    display: flex;
    flex-flow: row wrap;
    height: 90px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    /* background: gray; */
}

.nav-logo {
    flex: 10%;
    margin-left: 15%;
    text-align: left;
}

.nav-logo img {
    margin: 10px;
    width: 60px;    
}

.navbar {
    display: flex;
    flex: 60%;
    margin-right: 15%;
    justify-content: right;
    align-items: center;
    text-align: center;
    justify-items: center;
}

ul {
    padding: 0;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: var(--first-color);
    font-size: 18px;
    margin: 20px;
}

a:hover {
    border-bottom: 3px solid var(--first-color);
}

#about {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 50px;
}

header {
    padding-top: 90px;
    height: 100vh;
}

h2 {
    color: var(--first-color);
    font-family: var(--title);
    padding: 15px;
    text-align: center;
}

p {
    text-align: center;
    color: rgb(239, 50, 50);
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 5px;
}

.container {
    background-color: white;
    height: auto;
    margin: auto;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid white;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--first-color);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--others);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.colunas {
    text-transform: uppercase;
}

tr, button {
    text-align: center;
}

.container-update {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 55%;
    max-width: 500px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    color: var(--first-color);
    text-transform: uppercase;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: auto;
}

span {
    cursor: pointer;
    font-size: 25px;
    color: gray;
    float: left;
}
span:hover {
    color: black;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
}

select {
    padding: 8px;
    margin-bottom: 8px;
}

.btn-update {
    background-color: white;
    border: 2px solid #062a75;
    color: #062a75;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;    
    font-family: var(--others);
    text-transform: uppercase;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.btn-update:hover {
    background-color: #062a75;
    color: white;
    transition: ease;
}

.logo-list {
    text-align: center;
    width: 300px;
}

.logo-list img {
    width: 60%;
}